@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">WA</h1>
    hello myname is new era welcome to our website. You can find more infotmtion bellow.

</div>
